
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/LayoutLoja.cshtml";
}

<div class="crumb_nav"> <a href="#">home</a> &gt;&gt; category name </div>
<div class="title"><span class="title_icon"><img src="@Url.Content("~/Assets/User/")images/bullet1.gif" alt=""></span>Category products</div>
<div class="new_products">
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="@Url.Content("~/Assets/User/")images/new_icon.gif" alt=""></span> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb2.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="@Url.Content("~/Assets/User/")images/promo_icon.gif" alt=""></span> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb3.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="@Url.Content("~/Assets/User/")images/promo_icon.gif" alt=""></span> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb2.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb3.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="@Url.Content("~/Assets/User/")images/new_icon.gif" alt=""></span> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb2.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <span class="new_icon"><img src="@Url.Content("~/Assets/User/")images/new_icon.gif" alt=""></span> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="new_prod_box">
    <a href="#">product name</a>
    <div class="new_prod_bg"> <a href="#"><img src="@Url.Content("~/Assets/User/")images/thumb1.gif" alt="" class="thumb" border="0"></a> </div>
</div>
<div class="pagination"> <span class="disabled">&lt;&lt;</span><span class="current">1</span><a href="#">2</a><a href="#">3</a>…<a href="#">10</a><a href="#">11</a><a href="#">&gt;&gt;</a> </div>
</div>
<div class="clear"></div>
